.footer{
    display: flex;
    justify-content: center;
    background-color: #C91C63;
    color: #fff;
    gap: 2rem;
    padding-block: 3rem;
}
.footer a{
    text-decoration: none;
    color: #fff;
}
.footer p{
    margin: 0;
}
.footer h3{
    margin-bottom: 0.5rem;
}
.footer_icons{
    display: flex;
    align-items: center;
    margin-top: 0.4rem;
}
.footer_icons img{
    width: 1.15rem;
    margin-right: 0.5rem;
}
.footer_infos{
    display: flex;
    gap: 2rem;
}
@media screen and (max-width: 1000px){
    .footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width: 500px){
    .footer_infos{
        flex-direction: column;
    }
}